#show-form {
  padding: 5px;
  padding-bottom: 15px;
  margin: auto; 
  margin-bottom: 20px;
  width: 40%;
  float: center;
}

.title {
  font-size: 50px;
  color: rgb(211, 102, 144);
  background-color: black;
  margin: auto;
  padding: 10px;
  border-radius: 25px;
  font-family: 'Bungee Inline', cursive;

}

.showImage {
  float: center;
}

form, 
div, 
body
button {
  padding: 10px;
}

button {
  margin-right: 10px;
  margin-bottom: 10px;
  color:rgb(55, 21, 78);
  background-color: white;
  border-radius: 10px;
  font-family: 'Gruppo', cursive;
  font-size: 20px;
}

body {
  background-image: url(https://media3.giphy.com/media/3o6vXRxrhj7Ov94Gbu/source.gif);
}

.gifContainer {
  margin-top: 10px;
  background: rgb(192, 192, 192);
  border-radius: 10px;
  color: rgb(55, 21, 78);
  font-family: 'Gruppo', cursive;
  font-size: 24px;
}

.buttonLayout {
  padding-top: 20px;
}

input {
  border-radius: 10px;
  margin-top: 10px;
  background-color: white;
  font-family: 'Gruppo', cursive;
  font-size: 18px;

}

.bannerBackground {
  background-image: url(../images/background4.jpg);
  background-repeat: initial;
  padding: 85px;
  margin: auto;
  width: 100%;

}

@media only screen and (max-width: 920px) {
  .title {
    width: 100%;
    padding: 10px;
  }

  .gifContainer {
    width: 95%;
  }

  .showImage {
   width: 90%;
  }
}




